/*Global Styles*/
@viewport, @-o-viewport, @-moz-viewport, @-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
html {height:auto; width:100%;}
body {height:auto; width:100%; background-color:#999999; background-image:url(images/view-bkgrnd_2040x675.jpg); font-size: 62.5%; font-family:"open sans"; scrollbar-face-color:#777777;}
* {margin:0; padding:0;}
a {text-decoration:none;}
/*img {max-width:100%;}*/

/*Static app background colors (always the same color)*/
.primaryColor {background-color:#ed0d53;}
.secondaryColor {background-color:#0c8a96;}
.tertiaryColor {background-color:#ffc70e;}

/*App background colors with hover state (change when mouse hovers over)*/
.primaryColorHover {background-color:#ed0d53;}
.primaryColorHover:hover {background-color:#ff0066;}
.secondaryColorHover{background-color:#0c8a96;}
.secondaryColorHover:hover {background-color:#07adbd;}
.tertiaryColorHover {background-color:#ffc70e;}
.tertiaryColorHover:hover {background-color:#ffcc00;}

.blackSecondaryColorHover {background-color:#000000;}
.blackSecondaryColorHover:hover {background-color:#0c8a96;}

/*Static app font colors (always the same color)*/
.primaryCT {color:#ed0d53;}
.secondaryCT  {color:#0c8a96;}
.tertiaryCT {color:#ffc70e;}

/*Hoverable app font colors (change when mouse hovers over)*/
.primaryCTH {color:#ed0d53;}
.primaryCTH:hover {color:#ff0066;}
.secondaryCTH {color:#0c8a96;}
.secondaryCTH:hover {color:#07adbd;}
.tertiaryCTH{color:#ffc70e;}
.tertiaryCTH:hover {color:#ffcc00;}

/*Hoverable app border colors (change when mouse hovers over)*/
.hovBorderWhite10px {border:10px solid #ffffff;}
.hovBorderWhite10px:hover {border:10px solid #ed0d53;}
.hovBorderWhiteBlue10px {border:10px solid #ffffff;}
.hovBorderWhiteBlue10px:hover {border:10px solid #0c8a96;}

.cents {font-size:50%; vertical-align: super;}
.sprite {background-image:url(images/sprites-500x500.png);}
	
#appPreView {font-family:montserrat; text-align:center;}
#appPreView .logo {height:209px; width:388px; margin:40% auto 10% auto; background-image:url(images/the-sev-logo_388x209.png);}
#appPreView .alignCenter {margin:10px 0;}

#appView {height:auto; width:100%;}
#appNav .prodDetailPrevItemButton {top:51px; left:0;}
#appNav .prodDetailNextItemButton {top:51px; right:0;}

.contentWrapper {height:100%; width:77%; margin:0 11.2%;}
.outerGutter {height:100%; width:21.951%;} 
.outerMargin{height:20px; width:8.0357%;} /* 90 / 1120 */
.innerMarginLeft {margin:0 0 0 1.78%;}
.innerMarginRight {margin:0 1.78% 0 0;}
.mainColWide {height:50px; width:26.8%; float:right;}
.fullHeight {height:100%;}
.fullWidth {width:100%}
.fullHeightWidth {height:100%; width:100%;}
.fontBold {font-weight:bold;}

.templateWrapper {height:auto; width:1070px; margin:0 auto;} 

.quickView {border:none; color:#ffffff; font-family:montserrat; padding:4px;}
.fluidList li {margin:8px; box-shadow:0 0 2px 0px; position:relative; background:#ffffff;}
.masonList.fluidList li {float:none;}
.thumbContainer {/*REMOVE THESE ONCE IMGS ARE PRESENT*/height:100%; width:100%;/*END REMOVE*/position:relative;}
.catName {height:auto; width:88%; background-color:rgba(0,0,0,0.25); padding: 6%; font-family:montserrat; font-weight:normal; font-size:1.2em; text-align:center; position:absolute; bottom:0;}
.anyMasonry.masonOne {height:316px; width:316px;}
.anyMasonry.masonOne .masonImage {height:316px; width:316px;}
.anyMasonry.masonTwo  {height:140px; width:140px;}
.anyMasonry.masonTwo .masonImage {height:140px; width:140px;}
.anyMasonry.masonThree {height:140px; width:316px;}
.anyMasonry.masonThree .masonImage {height:140px; width:316px;}
.anyMasonry.masonFour {height:316px; width:140px;}
.anyMasonry.masonFour .masonImage {height:316px; width:140px;}
.boxShadower {height:100%; width:100%; position:absolute; z-index:1;} /*box-shadow:inset 0 0 86px -34px; removed @request, may be used again*/
/*WEBKIT SCROLLBARS*/
::-webkit-scrollbar {width:10px;}
::-webkit-scrollbar-track {background-color:#cccccc;}
::-webkit-scrollbar-thumb {background-color:#777777;}
::-webkit-scrollbar-button {display:none;}


/****************************************
PERSISTENT CONTENT
****************************************/

/*************************************************************************************
HEADER
*************************************************************************************/

header {height:50px; width:100%; background:#000000;}
header .dummyMargin {height:50px; width:auto;}
.rightCol {height:100%; width:36.607%; float:right;} /* 410 / 1120*/
.headerLinks {margin:1% 4%; width:10.7%; position:relative;}
.headerLinks span {height:auto; width:93%; color:#ffffff; text-align:center; font-family:"Open Sans"; font-size:1.4em; font-weight:bold; position:absolute; top:12%; left:0;}
.headerLinks img {margin:6% 0 0 9%;}

.infoLink {position:relative; z-index:500;}

.midCol {height:100%; width:26.785%; float:right;} /* 410 / 1120*/
.productSearchForm {height:100%; width:100%;}
.headerSearchButton {height:100%; width:50px; border:none; float:right;}
.productSearchKeyword {border:none; float:right; height:100%; padding:0 0 0 8%; width:auto; font-size:1.2em; font-weight:normal; font-family:montserrat;}

.leftCol {height:100%; width:36.607%; float:right;} /* 410 / 1120*/
.headerHomeLink {height:80%; width:69%; padding:10% 0 0 30%;} /*padding:40% 0 0 0;*/
header .logIn {height:100%; width:78.048%; float:right; color:#ffffff; font-size:1.0em; text-align:center; line-height:460%; font-family:montserrat; font-weight:normal;} /* 320 / 410 */
/* Adds user name to "Welcome" in header if logged in */
.buyerLoggedIn .hideIfLoggedIn {display:none;}
.hideIfLoggedOut {display:none;}
.buyerLoggedIn .hideIfLoggedOut {display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut {display: inline;} /* ensures inline on span elements */

/* END HEADER************************************************************************/

/*************************************************************************************
FOOTER
*************************************************************************************/

footer {height:175px; width:100%; background:#ffffff; font-family:"Open Sans"; font-size:1.1em; font-weight:normal; clear:both;}
/*FOOTER CAROUSEL*/
footer .logoCarouselCont {height:100px; width:100%; border-bottom:4px dotted #cccccc;}/*57.142%;*/
footer .footerFredWrap {height:auto; width:83%;}
footer .logoCarousel li {float:left;}
footer .logoCarousel li img {margin:auto; padding:15% 0 0 0; display:block;} /* PADDING WILL NEED TO CHANGE WHEN MAKE IMAGE USED*/
.footerPrev {height:25px; width:24px; background-position: 60px 0; margin:40% 0 0 0; float:right;}
.footerNext {height:25px; width:24px; background-position: 24px 0; margin:40% 0 0 0;}

footer .dummyMargin {height:75px; width:100%;}
footer span {display:inline-block; margin:auto; text-align:center;}
.copyright {padding:31px 0 0 0;}
.copyright .zoovyLink {color:#000000;}
.copyright .zoovyLink:hover {cursor:pointer; font-weight:bold;}
footer .midCol img {display:block; margin:auto; padding:5% 0 0 0; cursor:pointer;}
.acwLink {font-weight:bold; text-align:right; padding:31px 0 0 0;}
.acwLink a {color:#000000;}

/*END FOOTER**************************************************************************/

/****************************************
END PERSISTENT CONTENT
****************************************/


/*************************************************************************************
homepageTemplate
*************************************************************************************/

.mushPot {height:254px; width:254px; background:red; color:#ffffff; font-family:oswald; font-size:2.7em; font-weight:normal; padding:31px; text-align:center;} /*box-shadow:0 0 2px 0px;*/

/*************************************************************************************
categoryTemplate
*************************************************************************************/


/*************************************************************************************
categoryListTemplate
*************************************************************************************/

/*.categoryListTemplate .thumbContainer img {background:#ffeeff;}*/

/*************************************************************************************
productListTemplate
*************************************************************************************/

.productListTemplate .prodListDesc, #cartStuffList .prodListDesc, .productListTemplateResults .prodListDesc 
	{height:auto; width:88%; color:#ffffff; background-color:rgba(0,0,0,0.35); padding: 6%; font-family:montserrat; position:absolute; bottom:0;}
.productListTemplate .prodListDesc h5, #cartStuffList .prodListDesc h5, .productListTemplateResults .prodListDesc h5 {font-weight:normal; font-size:1.2em; text-align:left;}
.productListTemplate .prodListDesc h6, #cartStuffList .prodListDesc h6, .productListTemplateResults .prodListDesc h6 {font-weight:normal; font-size:1.4em; text-align:right; margin:5px 0 0 0;}

/*************************************************************************************
END productListTemplate
*************************************************************************************/


/*************************************************************************************
productListTemplateResults
*************************************************************************************/

.searchResultsProduct .moreDetails {height:10px; width:60px; color:#ffffff; position:absolute; bottom:-10px; left:0; font-family:montserrat; font-size:1.1em; line-height:10px; text-align:center;}


/*productListTemplateATC
productListTemplateBuyerList
productListTemplateResultsNoPreview*/


/*************************************************************************************
productTemplateQuickView
*************************************************************************************/

.tempQV {color:#ffffff;}
.tempQV .prodViewerContainer {padding:0 0 20px 0;}
.tempQV .imageContainer {height:280px; width:280px; float:left; padding:0 20px 20px 0; background:url("images/view-bkgrnd_2040x675.jpg") repeat scroll 0 0 transparent;}
.tempQV .boxShadower {height:260px; width:260px; box-shadow:0 0 86px -34px #000000 inset; border:10px solid #ffffff;}
.tempQV .prodSummaryContainer {float:left; margin:10px 0 0 10px; font-size:1.2em;}
.tempQV .prodSummaryContainer h1 {font-family:oswald; font-weight:normal; font-size:1.8em;}
.tempQV .prodSummaryContainer h3 {font-family:"Open Sans"; font-weight:normal; font-size:0.8em;}
.tempQV .prodSummaryContainer h4 {font-family:"Open Sans"; font-weight:normal; font-size:1.8em;}
.tempQV .prodSummaryContainer h5, .tempQV .prodSummaryContainer h6 {font-family:"Open Sans"; font-weight:normal; font-size:1.2em;}
.tempQV .prodSummaryContainer h4 span {color:#ED0D53; font-size:0.7em;}
.tempQV .prodSummaryContainer h6 span,.tempQV .prodSummaryContainer h5 span, .tempQV .prodSummaryContainer h3 span {color:#666666;}
.tempQV .prodSummaryContainer span.cents {color:#ffffff; font-size:50%;}
.tempQV .prodSummaryContainer .priceContainer {height:auto;}
.tempQV .productReviewsList {height:auto; width:100%; clear:both; background:#000000;}

.buttonBar button.ui-button {padding:0.5em 1em; margin:2em 0.8em 0 0;}


/*************************************************************************************
productTemplate
*************************************************************************************/

.productPage.templateWrapper {width:940px;}
.prodViewerContainer {height:100%; width:100%; background:#000000; display:inline-block;}

/*Left Column*/
.imageContainer {width:34.0425%; padding:0;}
.prodThumPad {padding:0 20px 20px 0; background-image:url(images/view-bkgrnd_2040x675.jpg);} 
.productPageThumbCont {height:280px; width:280px; position:relative; box-shadow:0 0 2px 0;}
.iconZoom {height:25px; width:26px; background-position:-49px -100px; position:absolute; left:-12px; bottom:30px; margin:0 0 0 50%; z-index:1;}
.productPageBoxShadower {height:100%; width:280px; position:absolute; box-shadow:inset 0 0 86px -34px; z-index:1;}
.prodPrev {height:30px; width:30px; background-position:98px 0; position:absolute; left:0; top:125px; z-index:1;}
.prodNext {height:30px; width:30px; background-position:132px 0; position:absolute; right:0; top:125px; z-index:1;}
a.prodPrev span, a.prodNext span {display:none;} 
.addtnlProdInfo {background:#000000; padding:0 35px;}
.addtnlProdInfo .thumbLogo img {display:block; margin:5px auto 0 auto;}
.addtnlProdInfo .thumbText {font-family:montserrat; font-size:1.2em; font-weight:normal; text-align:right; color:#ffffff;}
.addtnlProdInfo .thumbText span {font-weight:bold; color:#666666;}

/*Middle Column*/
.prodSummaryContainer, .prodReviewContainer, .prodWriteReviewContainer {width:39.3617%; padding:0 10px 12px 0;}
.prodSummaryWrapper, #reviewFrm {max-height:380px; overflow:auto; margin:10px; padding:20px; background:#ffffff; font-family:"open sans"; font-size:1.2em; font-weight:normal;} 
#reviewFrm {max-height:430px;}
.prodSummaryWrapper h1 {font-family:oswald; font-size:1.8em; font-weight:normal;}
.CRMButtonMenu div {color:#ffffff; font-family:montserrat; font-weight:normal; font-size:1.2em; text-decoration:underline; cursor:pointer;}
.readReview {float:left; margin:10px 0 0 15px;}
.writeReview {float:right; margin:10px 15px 0 0;}

.prodReviewContainer .prodSummaryWrapper h1 {font-size:1.72em; float:left;}
.prodReviewContainer .prodSummaryWrapper button, #reviewFrm .reviewbutton {height:24px; width:26px; background-position:0 -60px; background-color:#ffffff; margin:0 0 0 10px; border:none;}
.prodReviewContainer .prodSummaryWrapper button:nth-child(2) {background-position:-43px -60px;}
.prodReviewContainer .reviewsCont {text-align:center; margin:10px 0 0 0;}
.productReviewsTemplateDetail {font-family:montserrat;}
.productReview {margin:30px 0 0 0; text-align:center;}
.prodReviewInfo {width:100%; margin:20px 0 0 0;}
.prodReviewInfo li {clear:none; float:left;}
.prodReviewInfo li.reviewSprite {clear:both; margin:4% 30%;}
.productReviewsTemplateDetail blockquote {clear:both; margin:0;}
.reviewLineItem {border-bottom:2px solid #000000;}

.prodWriteReviewContainer h1 {font-size:1.42em; float:left;}
.prodWriteReviewContainer #reviewFrm label {height:auto; width:100%; text-align:center; margin:10px 0 6px 0;}
.prodWriteReviewContainer #reviewFrm select {height:auto; width:200px; margin:5px 0 0 18%; clear:both; display:block;}
.prodWriteReviewContainer #reviewFrm .reviewbutton.bToReviewButton {height:28px; width:29px; background-position:-124px -58px; margin:0;}
#reviewFrm select#reviewsRating option {height:28px;}
#reviewFrm select#reviewsRating option[value='10'] {background-position:-322px -185px;}
#reviewFrm select#reviewsRating option[value='9'] {background-position:-322px -217px;}
#reviewFrm select#reviewsRating option[value='8'] {background-position:-322px -248px;}
#reviewFrm select#reviewsRating option[value='7'] {background-position:-322px -280px;}
#reviewFrm select#reviewsRating option[value='6'] {background-position:-322px -312px;}
#reviewFrm select#reviewsRating option[value='5'] {background-position:-322px -345px;}
#reviewFrm select#reviewsRating option[value='4'] {background-position:-322px -376px;}
#reviewFrm select#reviewsRating option[value='3'] {background-position:-322px -409px;}
#reviewFrm select#reviewsRating option[value='2'] {background-position:-322px -441px;}
#reviewFrm select#reviewsRating option[value='1'] {background-position:-322px -473px;}
.prodWriteReviewContainer  input, #reviewsMessage {height:auto; width:95%; font-family:montserrat; font-weight:normal; font-size:1.2em; padding:3% 0 3% 4%; color:#666666; border:2px solid #000000;}
.prodWriteReviewContainer #reviewsMessage {height:110px;}
.inlineRevButCont {height:60px; width:100%;}
.prodWriteReviewContainer .inlineRevButCont .inlineReviewButton {width:100%; background:#000000; color:#ffffff; font-size:1.4em; font-weight:bold; padding:15px 40px; text-align:right; float:none; margin:0 0 5px 0;}
.iconPubRev {height:24px; width:26px; background-position:-83px -60px; position:relative; top:15px; left:7%;}
.inlineRevButCont:hover .inlineReviewButton {background:#ffc70e; color:#000000;}
.inlineRevButCont:hover .iconPubRev {background-position:-42px -60px;}

/*Right Column*/
.prodBuyerContainer {width:24.5957%; padding:10px 0 0 0; position:relative;}
.workWithMe {height:140px; width:180px; margin:15px 10px 0 0; background:#fff65d; padding:35px 20px 20px 20px; font-size:1.2em; overflow:hidden; position:relative;} /*background:url(images/work-with-me_220x210.png) no-repeat scroll 0 0 transparent;*/
.workTape {height:34px; width:140px; background-position:-360px -53px; position:absolute; top:10px; left:-70px; margin:0 0 0 50%; z-index:1;}
.workWithMe .workCorner {height:45px; width:50px; background-position:-295px -44px; position:absolute; right:0; bottom:0; display:none;}
.workWithMe .workCorner.workLess {background-position:-240px -95px;}
.workWithMe.addMoreWork .workCorner.workMore {display:block;}
.workWithMe.addLessWork .workCorner.workLess {display:block;}
.workWithMe.addLessWork, .workWithMe.addLessWork p {height:auto;}
/*less {background-position:-240px -95px;}  less:hover {background-position:-182px -95px;}*/
.workWithMe.addMoreWork:hover .workCorner {background-position:-295px -94px;}
.workWithMe.addLessWork:hover .workCorner {background-position:-182px -94px;}
.workWithMe p {height:131px; width:100%; overflow:hidden; position:relative;}
.elipsis {height:16px; width:85px; background-image:url(images/elipsis-shade_85x25.png); position:absolute; bottom:0; right:6px; text-align:right; line-height:10px; }
.workWithMe.addLessWork .elipsis {display:none;}
.priceContainer {height:68px; width:auto; padding:30px 25px 0 0; overflow:hidden;}
.priceFloat {height:auto; width:100%; text-align:center; font-family:montserrat; color:#ffffff;}
.halfPrice {height:auto; width:50%; margin:0 0 10px 0;}
.basePrice {font-size:3.0em;}
.prodMSRP  {font-size:3.0em; text-decoration:line-through;}
.basePriceAlone {height:auto; width:100%; font-size:3.0em;}
.forYou {font-size:1.2em;}
.forRetail {font-size:1.2em; color:#666666;}
.productPage  .cents {text-decoration:underline;}
.prodViewerAddToCartForm {margin:0 0 5px 0; position:relative;}
.notAvailableForPurchase {height:auto; width:90%; color:#ffffff; display:block; font-size:1.8em; font-family:oswald; padding:15px 10px; text-align:center;}
.productPage .addToCartButton, .productPage .addToWishlistButton {height:80px; width:100%; font-family:montserrat; font-size:1.8em; font-weight:bold; border:none; color:#ffffff; margin:0 0 10px 0; position:relative;}
.prodAddedToCart {height:63px; width:100%; padding:17px 0 0 0; position:absolute; z-index:5; top:12px; background:#dbf8fb; text-align:center; font-family:montserrat; font-size:2em; font-weight:bold;}
.productPage .iconATC {height:27px; width:35px; position:absolute; top:36px; left:20px; background-position:-328px 0;}
.productPage .iconATW {height:25px; width:30px; position:absolute; top:28px; left:25px; background-position:-248px 0;}
.hoverWrapper:hover .iconATW {background-position:-288px 0;}

/*************************************************************************************
productTemplateQuickView
*************************************************************************************/


/*************************************************************************************
Cart
*************************************************************************************/

/*cartTemplate*/
#modalCart.ui-dialog-content.ui-widget-content {background:url(images/view-bkgrnd_2040x675.jpg);}
.cartStuffContainer {}
.cartSummaryTotalsContainer {height:auto; width:220px; margin:20px 8px 0 0; padding:0; background:#000000;}
.cartSummaryTotalsContainer .cartSummaryContainer {padding:0;}
.cartSummary {font-family:montserrat; font-size:1.2em; font-weight:normal;}
.cartSummary > div {text-align:center;}
.cartSummaryContainer {border:none;}
.cartSubTot {font-size:3.6em; color:#ffffff;}
.cartSubTotText {color:#959595;}
.checkoutButtonsContainer span {margin:0 0 12px 0;}
.cartSummaryContainer .checkoutButton {height:80px; width:220px; color:#ffffff; text-align:right; padding:20px 32px; position:relative; border:none; font-size:2em; font-weight:bold;}
.cartSummaryContainer .checkoutButton .iconCkOt {height:30px; width:23px; position:absolute; margin:0; background-position:-256px -55px; position:absolute;}
.cartSummaryContainer .checkoutButton .safeSec {height:auto; width:100%;font-size:0.55em; margin:0; text-align:right;}
.cartSummaryContainer #paypalECButton {float:none; margin:0 auto 12px auto; clear:both;}
.cartSummaryContainer #paypalECButton img {display:block; margin:auto;}

/*productListTemplateCart*/
#cartStuffList.fluidList li {height:360px; width:220px; background:none; box-shadow:0 0 0 0; border:none; float:left;}
#cartStuffList.lineItemProdlist > li {width:220px !important;}
.cartImageCont {height:200px; width:200px; border:10px solid #ffffff; box-shadow:0 0 2px 0; position:relative;}
.qtySelectStyler {height:28px; width:98%; margin:10px 0 0 0; color:#999999; border:2px solid #000000; border-right:3px solid #000; overflow:hidden; display:inline-block; font-size:1.2em;}
.qtySelectStyler .qtyInput {height:28px; width:109%; padding:3% 1% 1% 1%; color:#999999; border:none; background-repeat:no-repeat; background-position:188px -100px;}
.qtySelectStyler .qtyInput option {height:20px; width:100%; padding:4px 0 0 4px;}
#cartStuffList .removeButton.ui-state-default {height:25px; width:26px; background:url(images/sprites-500x500.png) 330px -59px transparent; border:none; margin:22px 12px 0 12px;}
#cartStuffList .removeButton.ui-state-default span {display:none;}
#cartStuffList .moveToWishlist {height:50px; width:170px; background:#000000; border:none; color:#ffffff; font-family:montserrat; font-size:1.6em; margin:10px 0 0 0; padding:10px; text-align:right;}
#cartStuffList .moveToWishlist:hover {background:#0c8a96;}
#cartStuffList .moveToWishlist span {height:32px; width:38px; background-position:-205px -55px; position:absolute; bottom:22px; left:9px; z-index:1;}


/*************************************************************************************
LOGIN MODAL
*************************************************************************************/

.createAccount {height:270px; width:300px; float:left; font-family:"Open Sans"; text-align:center;}
.createAccount h1 {color:#000000; text-align:center; font-family:oswald; font-size:2.0em; margin:33px 0 8px 0;}
.createAccount p {font-size:1.5em;}
.createAccount .modalCreateButton {padding:5px; margin:10px; font-family:montserrat; border:none; font-size:1.6em;} 

#gotAccount {height:270px; width:300px; float:right; background:#000000; font-family:montserrat; font-weight:normal;}
#gotAccount h1 {color:#ffffff; text-align:center; margin:29px 0 0 0; font-family:oswald;}
#gotAccount fieldset {padding:0; border:0}
#gotAccount input {margin:10px auto; display:block; border:none; padding:5px 0 5px 5px; font-size:1.6em;}
#gotAccount input.secondaryColorHover {height:auto; width:100px; font-size:1.6em; font-family:montserrat; color:#ffffff; font-weight:normal;}
#gotAccount a {color:#FFC70E; font-family:"Open Sans"; font-size:12px; text-align:center; text-decoration:underline; margin:auto; display:block;}

#recoverPasswordContainer .recoverField {margin:5px 0 12px 12px; float:left;}

/*************************************************************************************
customerTemplate
*************************************************************************************/

/*createaccountArticle*/
#loginMessagingInline.appMessaging {margin:0 0 12px 40px;}
.buyerLoggedIn .hideIfLoggedIn{display:none;}
.hideIfLoggedOut{display:none;}
.buyerLoggedIn .hideIfLoggedOut	{display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut, .buyerLoggedIn a.hideIfLoggedOut{display: inline;} /* ensures inline on span elements */

#createaccountArticle .creatAccount {height:auto; width:940px; margin:20px 11% 0 11%;}
#gotAccount1 {height:270px; width:300px; float:left; background:#000000; font-family:oswald; font-weight:bold;}
#gotAccount1 h1 {color:#ffffff; text-align:center; margin:29px 0 0 0;}
#gotAccount1 fieldset {padding:0; border:0}
#gotAccount1 input {margin:10px auto; display:block; border:none; padding:5px 0 5px 5px;}
#gotAccount1 input.primaryColorHover {height:auto; width:100px; font-size:1.4em; font-family:montserrat; padding:15px; color:#ffffff;}
#gotAccount1 a {font-family:"Open Sans"; font-size:1.2em; text-align:center; text-decoration:underline; margin:auto; display:block;}

.Account {height:auto; width:620px; float:right; font-family:"Open Sans"; font-size:1.2em; font-weight:bold;}
.Account h1 {font-family:montserrat; font-weight:bold; margin:0 0 30px 0;}
.fieldM {height:auto; width:590px; padding:0 0 10px 0; margin:0 auto; overflow:hidden;}
.field {height:auto; width:72px; display:inline-block; text-align:right;}
.field.mname {width:82px;}
.fieldM input, .fieldM select {height:30px; width:100px; margin:0 7px; padding:0 9px; border-radius:0; font-family:montserrat; border:2px solid #000000;}
.fieldM option {height:20px; padding:5px 0 0 5px;}
.fieldM input.textflast {width:127px;}
.fieldM input.textfmname {width:15px;}
.fieldM input.textfadd {width:280px;}
.fieldM input.textfadd1 {width:150px;}
.fieldM input.textfcity {width:196px;}
.fieldM.stateFix {position:relative; top:-6px;}
.selectWrapperS {height:30px; width:60px; display:inline-block; overflow:hidden; border:2px solid #000000; margin:0 7px; position:relative; bottom:-13px;}
.fieldM select.textfstate {height:30px; width:80px; padding:6px 0px 3px 2px; border:none; background-position:33px -100px; margin:0;}
.fieldM .selectField {position:relative; bottom:10px;}
.selectWrapperC {height:30px; width:245px; display:inline-block; overflow:hidden; border:2px solid #000000; margin:0 7px;}
.fieldM select.textfcountry {width:285px; padding:7px 3px 3px 3px; background-position:216px -100px; border:none; margin:0; background-repeat:no-repeat;}
.fieldM input.textfmail {width:140px; margin:0 26px 0 7px;}
.fieldM input.textfpass {width:140px;}
.fieldM input.textfphone {width:180px;}
.Account .createButton {color:#ffffff; padding:15px; margin:10px auto; border:none; display:block; font-family:montserrat; font-weight:bold; font-size:1.8em;}


/*************************************************************************************
CompanyTemplate
*************************************************************************************/

/*sideline*/
.sideline, .infoLink {height:auto; width:230px; margin:24px; font-family:montserrat; font-weight:normal;}
.infoLink {margin:17px 0 0 0;}
.sideline #companyNav, .infoLink .infoDropdown {background:#000000; border:1px solid #000000; padding:0 0 5px 0;}
.sideline .headline, .infoDropdown .headline {height:70px; width:100%; line-height:70px; color:#ffffff; font-family:oswald; font-size:2.4em; font-weight:bold; padding:0 0 0 10px;}
.sideline .headline .iconHelp, .infoDropdown .headline .iconHelp {height:28px; width:30px; background-position:-79px 0; float:right; margin:20px 30px 0 0;}
.sideline #companyNav li, .infoLink .infoDropdown li {height:50px; width:100%; line-height:50px; background:#ffffff; color:#000000; font-size:1.8em; position:relative;}
.sideline #companyNav li span, .infoLink .infoDropdown li span {height:100%; width:5px; float:left; position:static;}
.sideline #companyNav li.about span, .infoLink .infoDropdown li.about span {background-color:#ffc70e;}
.sideline #companyNav li.contact span, .infoLink .infoDropdown li.contact span {background-color:#ed0d53;}
.sideline #companyNav li.faq span, .infoLink .infoDropdown li.faq span {background-color:#993f87;}
.sideline #companyNav li.paymnt span, .infoLink .infoDropdown li.paymnt span {background-color:#18abcd;}
.sideline #companyNav li.priv span, .infoLink .infoDropdown li.priv span {background-color:#07adbd;}
.sideline #companyNav li.return span, .infoLink .infoDropdown li.return span {background-color:#0c8a96;}
.sideline #companyNav li.ship span, .infoLink .infoDropdown li.ship span {background-color:blue;}
.sideline #companyNav li a, .infoLink .infoDropdown li a {padding:0 0 0 24px; color:#000000; display:block;}
.sideline #companyNav li span.arrow, .infoLink .infoDropdown li span.arrow {height:25px; width:25px; background-color:transparent; overflow:hidden; background-position:-475px 0; background-repeat:no-repeat; position:absolute; top:auto; left:auto; bottom:13px; right:25px; display:none;}
.sideline #companyNav li:hover span.decoBar, .infoLink .infoDropdown li:hover span.decoBar {width:20px; background-image:url(images/sprites-500x500.png); background-position:-361px -94px; background-color:transparent;}
.sideline #companyNav li:hover a, .infoLink .infoDropdown li:hover a {color:#ffffff;}
.sideline #companyNav li:hover span.arrow, .infoLink .infoDropdown li:hover span.arrow {display:inline;}
.sideline #companyNav li.about:hover, .infoLink .infoDropdown li.about:hover {background-color:#ffc70e;}
.sideline #companyNav li.contact:hover, .infoLink .infoDropdown li.contact:hover {background-color:#ed0d53;}
.sideline #companyNav li.faq:hover, .infoLink .infoDropdown li.faq:hover {background-color:#993f87;}
.sideline #companyNav li.paymnt:hover, .infoLink .infoDropdown li.paymnt:hover {background-color:#18abcd;}
.sideline #companyNav li.priv:hover, .infoLink .infoDropdown li.priv:hover {background-color:#07adbd;}
.sideline #companyNav li.return:hover, .infoLink .infoDropdown li.return:hover {background-color:#0c8a96;}
.sideline #companyNav li.ship:hover, .infoLink .infoDropdown li.ship:hover {background-color:blue;}

.socialNav {height:160px;}
.sideline .socialNav li, .infoLink .socialNav li {height:70px; width:100%; margin:10px 0 0 0;}
.sideline .socialNav li span, .infoLink .socialNav li span {width:auto; font-weight:bold; text-align:center; color:#f5f1de; line-height:19px; position:static;}
.sideline .socialCont, .infoLink .socialCont {height:auto; width:115px; float:left; padding:12px 0 0 30px;}
.sideline .socialTitle, .infoLink .socialTitle {font-family:montserrat; font-size:1.2em; display:block;}
.infoLink .socialTitle {font-size:0.9em;}
.sideline .socialMedia, .infoLink .socialMedia {font-size:2.4em; font-family:oswald; display:block;}
.infoLink .socialMedia {font-size:1.8em;}

/*contactArticle*/
#contactForm {float:left; margin:20px 0 12px 12px;}
#contactForm fieldset {border:none; position:relative;}
#contactForm fieldset legend {font-family:oswald; font-size:2.4em; font-weight:bold;}
#contactForm input, #contactForm textarea {height:33px; width:220px; font-family:montserrat; font-size:1.2em; color:#666666; padding:0 0 0 5px; border:1px solid #000000;}
#contactForm textarea {height:130px; padding:5px 0 0 5px}
#contactForm input.contactButton.blackSecondaryColorHover {height:50px; width:100%; color:#ffffff; padding:0 30px 0 0; text-align:right; font-size:1.4em; font-weight:bold; position:relative;}
.iconContact {height:27px; width:35px; position:absolute; top:364px; left:40px; background-position:-118px 0;}

#contactContent {float:left; width:450px; height:300px; margin:30px 0 0 6%; font-family:"Open Sans"; font-size:1.4em; font-weight:normal;}
#contactContent span {font-family:oswald; font-size:1.8em; font-weight:bold; padding:0px 0 10px 0; display:inline-block;}

/*************************************************************************************
breadcrumb
*************************************************************************************/

.breadcrumb.fluidList li {border:none; box-shadow:0 0 0 0; margin:0; background:transparent;}

/*************************************************************************************
media querries
*************************************************************************************/

@media screen and (max-width: 1125px) {
/*FOOTER*/
	.copyright {padding:20px 0 0 0;}
	.copyright span {display:block;}
/*MAIN CONTENT*/
/*#mainContentArea .templateWrapper {width:890px;}	*/
}

@media screen and (max-width: 900px) {
/*MAIN CONTENT*/
	#mainContentArea .templateWrapper {width:713px;}	
/*PRODUCT PAGE*/
/*****LEFT COLUMN*/
	.imageContainer {width:45.043%;}
/*.productPageThumbCont {height:200px; width:200px;}
.productPageBoxShadower {width:200px;}
.prodPrev, .prodNext {top:85px;}*/
/*****CENTER COLUMN*/
	.prodSummaryContainer, .prodReviewContainer, .prodWriteReviewContainer {width:54.762%; padding:0 0 12px 0;}
/*****RIGHT COLUMN*/	
	.prodBuyerContainer {width:100%;}
	.workTape {margin:0 0 0 22%; top:-5px;}
	.workWithMe {margin:0 0 2% 6%; float:left;}
	.priceContainer {width:33%; float:left; padding:30px 0 0 0;}
	.prodViewerAddToCartForm {width:30%; clear:none; float:right; display:inline-block; }
}

@media screen and (max-width: 800px) {
/*HEADER*/
	.headerHomeLink {padding:10% 0 0 20%;}
	header .logIn {line-height:120%;}
	header .logIn > div {padding:4% 0 0 0;}
	.lineBreak {width:100%; display:block;}
	.rightCol .headerLinks {width:10.7%; margin:3% 4%;}
	.rightCol .headerLinks span {width:100%; top:4%;}
/*FOOTER*/
	.copyright {padding:10px 0 0 0;}
	.acwLink {padding:20px 0 0 0;}
	.acwLink span {display:block;}
/*HOMEPAGE*/
	#mainContentArea .templateWrapper {width:536px;}	
/*PRODUCT PAGE*/
	.productPage.templateWrapper {width:606px;}
/*****LEFT COLUMN*/
	.productPageThumbCont {height:200px; width:200px;}
	.productPageBoxShadower {width:200px;}
	.prodPrev, .prodNext {top:85px;}
/*****CENTER COLUMN*/
	.readReview {margin:5px 0 0 0; text-align:center; width:100%;}	
	.writeReview {margin:5px 0 0 0; text-align:center; width:100%;}
	.iconPubRev {display:none;}
/*****RIGHT (LOWER) COLUMN*/
	.workTape {margin:0 0 0 26%;}
	.priceContainer {width:22%;}
	.productPage .addToCartButton, .productPage .addToWishlistButton {height:90px;}
	.prodAddedToCart  {height:73px;}
	.productPage .iconATC  {top: auto; bottom:115px; left:42%;}
	.productPage .iconATW  {top: auto; bottom:7px; left:42%;}
}

@media screen and (max-width: 650px) {
	#appNav .prodDetailPrevItemButton, #appNav .prodDetailNextItemButton {top:101px;}
/*HEADER*/
	header {height:100px;}
	header .dummyMargin {height:100px; width:401px; margin:auto;}
	.lineBreak {width:auto; display:inline;}
	.rightCol {height:50%; width:200px;}
	.rightCol .headerLinks {width:15.7%; margin:3% 4%;}
	.rightCol .headerLinks span {width:101%; top:5%;}
	.rightCol .outerGutter {display:none;}
	.midCol {height:50%; width:200px;}
	.headerSearchButton {width:25%;}
	.productSearchKeyword {width:66%;}
	.leftCol {height:50%; width:400px;}
	.headerHomeLink {padding:14% 0 0 30%;}
	header .logIn {line-height:170%;}
/*FOOTER*/	
	footer {height:225px;}
	footer .dummyMargin {height:125px; width:400px; margin:auto;}
	footer .leftCol {height:30%;}
	footer .leftCol .outerGutter {display:none}
	footer .midCol {width:62px; float:none; margin:0 auto 0 auto;}
	footer .midCol img {padding:29% 0 0 0;}
	footer .rightCol {display:none;}
/*HOMEPAGE*/
	#mainContentArea .templateWrapper {width:359px;}
/*PRODUCT PAGE*/
	.prodSummaryContainer {clear:both;}
/*****LEFT (TOP) COLUMN*/
	.imageContainer {width:100%;}
	.prodThumPad {margin:0 13% 5% 13%; padding:0 12% 5% 6.5%;}
/*****CENTER (MIDDLE) COLUMN*/
	.prodSummaryContainer, .prodReviewContainer, .prodWriteReviewContainer {width:100%; clear:both;}
	.prodWriteReviewContainer .inlineRevButCont .inlineReviewButton {padding:15px 30px;}
	.iconPubRev {display:block;}
/*****RIGHT (LOWER) COLUMN*/
	.prodBuyerContainer {width:100%;}
	.workTape {margin:0 0 0 37%;}
	.priceContainer, .prodViewerAddToCartForm {width:50%;}
}

@media screen and (max-width: 425px) {
/*HEADER*/
	header .dummyMargin {height:150px; width:320px; margin:auto;}
	header {height:150px;}
	.rightCol {height:33%; width:320px;}
	.rightCol .headerLinks {width:15.7%; margin:2% 0 0 7%;}
	.rightCol .headerLinks span {width:78%; top:12%;}
	.rightCol .outerGutter {display:none;}
	.midCol {height:33%; width:320px;}
	.headerSearchButton {width:17%;}
	.productSearchKeyword {width:75%;}
	.leftCol {height:34%; width:320px;}
	.headerHomeLink {padding:17% 0 0 25%;}
	header .logIn {line-height:290%;}
/*FOOTER*/
	footer {height:250px;}
	footer .dummyMargin {height:150px; width:100%;}
	footer .leftCol {width:100%;}
	footer .midCol {float:left; width:100%;}
	footer .midCol img {padding:3% 0 0 0;}
	footer .rightCol {width:100%;}
	.acwLink {padding:14px 0 0 0;}
/*HOMEPAGE*/
	#mainContentArea .templateWrapper {width:320px;}
/*PRODUCT PAGE*/
	.prodThumPad {margin:0 9% 5% 9%;}
	.iconPubRev {display:none;}
	.workTape {margin:0 0 0 41%;}
/*MASONRY*/
	.fluidList li {margin:8px 0;}
	.anyMasonry.masonOne {height:296px; width:296px;}
	.anyMasonry.masonOne img {height:296px; box-shadow: inset 0px 0px 86px -34px;}
	.anyMasonry.masonTwo  {height:120px; width:115px; margin:8px 11px;}
	.anyMasonry.masonTwo img {height:120px; width:115px; box-shadow: inset 0px 0px 86px -34px;}
	.anyMasonry.masonThree {height:120px; width:296px;}
	.anyMasonry.masonThree img {height:120px; width:120px; box-shadow: inset 0px 0px 86px -34px;}
	.anyMasonry.masonFour {height:296px; width:115px;}
	.anyMasonry.masonFour img {height:115px; width:115px; box-shadow: inset 0px 0px 86px -34px;}
}